<% content_for :title do %>
	Awkyo | Home
<% end %>

<% content_for :body do %>

	<div class="container">
		<div class='header'>
	    <div class="navbar-header">
	      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/"><span class='logo'>Awkyo</span></a>
	    </div>
	    <center>
	      <div class="navbar-collapse collapse" id="navbar-main">
	      </div>
	    </center>
		</div>
	</div>

	<div class='container margin_top_50'>
		<div class="container-fluid">
		  <div class="row">
		  	<div class='col-md-3'>
			    <div class="home_side_bar_top">
			      <div class='home_photo'>
			      	<%= image_tag @user.profile.avatar.url %>
			      </div>
	    			<!-- Single button -->
	    			<div class="btn-group margin_top_20">
	    			  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	    			    Profile<span class="caret"></span>
	    			  </button>
	    			  <ul class="dropdown-menu" role="menu">
	    			    <li><a href="/awkyo/profile/edit">View/Edit Profile</a></li>
	    			    <li><a href="#">Edit User Info</a></li>
	    			    <li><a href="/logoff">Log Off</a></li>
	    			  </ul>
	    			</div>
			    </div>
			    <div class='home_side_bar_bottom margin_top_20'>
			    	<h3>Search Field</h3>
			    	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
			    		  Awkyo Match
			    	</button>
	    			<div class="form-group margin_top_20">
	    				<h4>City</h4>
  					  <select class="form-control" id="sel1" name='gender'>
  					  	<option>Oakland</option>
  					  </select>
	    			</div>
	    			<div class="form-group margin_top_20">
	    				<h4>State</h4>
  					  <select class="form-control" id="sel1" name='gender'>
  					  	<option>California</option>
  					  </select>
	    			</div>
	    			<div class="form-group margin_top_20">
	    				<h4>Area</h4>
  					  <select class="form-control" id="sel1" name='gender'>
  					  	<option>5 miles</option>
  					  </select>
	    			</div>
			    </div>
		   	</div>

		    <div class="col-md-9">
		    	<div class='home_body'>
				    <div class='row'>
				    	<% @profiles.each do |profile| %>
				    		<% now = Time.now.utc.to_date %>
				    		<% age = now.year - profile.birthday.year %>
				    		
			    			<div id='show_user_info' class='col-md-4 user_profiles'>
			    				<a href='#<%= profile.username %>' data-toggle="modal" >
				    				<div class='user_photos'>
				    					<%= image_tag profile.profile.avatar.url %>
				    				</div>
			    				<h5><%= profile.profile.city %>, <%= profile.profile.state %></h5>
									<h5><%= profile.username %> / <%= age %></h5>
									</a>
			    			</div>
				    
				    		
				    		<!-- Modal -->
			    			<div class="modal fade" id="<%= profile.username %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			    			  <div class="modal-dialog">
			    			    <div class="modal-content">
			    			      <div class="modal-header">
			    			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    			        <h4 class="modal-title" id="myModalLabel"><%= profile.username %></h4>
			    			      </div>
			    			      <div class='row'>
				    			      <div class="modal-body">

				            			<div id='show_user_info' class='col-md-6 user_profiles'>
				            				<div class='user_modal_profile'>
				            					<%= image_tag profile.profile.avatar.url %>
				            				</div>
				            				<h5><%= profile.profile.city %>, <%= profile.profile.state %></h5>
				        						<h5><%= profile.username %> / <%= age %></h5>
				            			</div>
				            			<div class='col-md-6 user_modal_description' >
				            				<p><%= profile.profile.description %></p>
				            			</div>

				    			      </div>
				    			    </div>
			    			      <div class="modal-footer">
			    			      	<button type="button" class="btn btn-primary">Message Now</button>
			    			        <button type="button" class="btn btn-default" data-dismiss="modal">Close
			    			        
			    			      </div>
			    			    </div>
			    			  </div>
			    			</div>

				    	<% end %>
				   	</div>
			      

			      <!-- <div class='row body_row'>
			      	<div class='col-md-3 user_profiles'>
			      		<div class='user_photos'>
			      			<img src="/assets/steven_yeun.jpg">
			      		</div>
			      		<h4>Oakland, CA</h4>
			      	</div>
			      	<div class='col-md-6 col-md-offset-1 user_infos '>
			      		<h4><a href="">WalkingDeadFan510</a></h4>
			      		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			      		 ...</p>
			      	</div>
			      </div>

			      <div class='row body_row'>
			      	<div class='col-md-3 user_profiles'>
			      		<div class='user_photos'>
			      			<img src="/assets/steven_yeun.jpg">
			      		</div>
			      		<h4>Oakland, CA</h4>
			      	</div>
			      	<div class='col-md-6 col-md-offset-1 user_infos '>
			      		<h4><a href="">WalkingDeadFan510</a></h4>
			      		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			      		 ...</p>
			      	</div>
			      </div>

			      <div class='row body_row'>
			      	<div class='col-md-3 user_profiles'>
			      		<div class='user_photos'>
			      			<img src="/assets/steven_yeun.jpg">
			      		</div>
			      		<h4>Oakland, CA</h4>
			      	</div>
			      	<div class='col-md-6 col-md-offset-1 user_infos '>
			      		<h4><a href="">WalkingDeadFan510</a></h4>
			      		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			      		 ...</p>
			      	</div>
			      </div>

			      <div class='row body_row'>
			      	<div class='col-md-3 user_profiles'>
			      		<div class='user_photos'>
			      			<img src="/assets/steven_yeun.jpg">
			      		</div>
			      		<h4>Oakland, CA</h4>
			      	</div>
			      	<div class='col-md-6 col-md-offset-1 user_infos '>
			      		<h4><a href="">WalkingDeadFan510</a></h4>
			      		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			      		 ...</p>
			      	</div>
			      </div>

			      <div class='row body_row'>
			      	<div class='col-md-3 user_profiles'>
			      		<div class='user_photos'>
			      			<img src="/assets/steven_yeun.jpg">
			      		</div>
			      		<h4>Oakland, CA</h4>
			      	</div>
			      	<div class='col-md-6 col-md-offset-1 user_infos '>
			      		<h4><a href="">WalkingDeadFan510</a></h4>
			      		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			      		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			      		 ...</p>
			      	</div>
			      </div>

 -->

			    </div>
		    </div>




		  </div>
		</div>
	</div>


	<div class='container wrapper'>
		<footer>
			<div class='container'>
				<ul class='footer'>
					<li><a href='/about'>About</a></li>
						<li><a href='/how'>How It Works</a></li>
						<li><a href='/careers'>Careers</a></li>
						<li><a href='/faq'>FAQ</a></li>
						<li><a href='/terms'>Terms</a></li>
				</ul>
			</div>
		</footer>
	</div>

<% end %>
